.button {
    &:link {
        background-color: #fff;
    }
    &:visited {
        background-color: #fff;
    }
    &:hover {
        background-color: #fff;
    }
    &:active {
        background-color: #fff;
    }
}