.class {
    height: 400px * 2;
}

.class {
    height: 400px + 100;
}

.class {
    height: 400px - 300px;
}

.class {
    height: 200px + 100px -400px;
}

.class {
    height: 200px * 3;
}

.class {
    height: 750px * 1;
}

.class {
    height: 30px / 5px;
    width: 24px/ 4;
}

.class {
    height: (30px / 5px);
    width: (24px / 4);
}